<!DOCTYPE html>
<html  xmlns="http://www.thymeleaf.org">


    <title>Hello Student</title>
</head>
<body>
<div id="nav-bar">
    <nav>
        <div>
            Welcome student management portal
        </div>

        <ul>
            <li><a href="/home">Home</a></li>

            <img src="/images/Ehome.png" alt="Registration" width="100" height="100">

            <li><a href="/student/new">Create new</a></li>

            <li><a href="/student/list">All Student</a></li>

            <li><a href="/student/search">Search Student</a></li>

           <li><a href="/student/delete">Delete Student</a></li>

        </ul>
    </nav>
</div>
<div  th:insert="~{fragments/footer :: footer}"></div>

</body>

</html>
